<ul class="utility">
	<li class="util-li first"><a class="subscribe" href="/subscribe" data-uotrack="footerpaper" target="_blank"><span class="big-icon"></span>Subscribe</a></li>
	<li class="util-li"><a class="usatshop" href="/shop/" data-ht="footerusatshop"><span class="big-icon"></span>Special<br />Editions</a></li>
	<li class="util-li"><a class="apps" href="/mobile-apps/" data-ht="footerapps"><span class="big-icon"></span>Apps</a></li>
	<li class="util-li"><a class="rss" href="/rss/" data-ht="footerrss"><span class="big-icon"></span>RSS</a></li>
	<li class="util-li"><a class="youreport" href="/reporters/" data-ht="footerreporter"><span class="big-icon"></span>Staff Index</a></li>
	<li class="util-li"><a class="mobile" href="http://m.usatoday.com/" data-uotrack="footermobile" target="_blank"><span class="big-icon"></span>Mobile</a></li>
	<li class="util-li"><a class="contactus" href="/contactus/" data-ht="footercontactus"><span class="big-icon"></span>Contact Us</a></li>
	<li class="last util-li"><a class="feedback" href="#" data-ht="footerfeedback"><span class="big-icon"></span>Feedback</a></li>
</ul>
<div class="footer var-width">
	<div class="footer-edge"></div>
	<p class="copyright">Copyright Gannett 2013</p>
	<p class="site-index">Site Index <span class="arrow">Expand/Collapse</span></p>
	<nav>
		<div class="fronts">
			<section class="news">
				<h6><a href="/news/" data-ht="footernews">News</a></h6>
				<ul>
					<li><a href="/news/nation/" data-ht="footernation">Nation</a></li>
					<li><a href="/news/world/" data-ht="footerworld">World</a></li>
					<li><a href="/news/politics/" data-ht="footerpolitics">Politics</a></li>
				</ul>
			</section>
			<section class="sports">
				<h6><a href="/sports/" data-ht="footersports">Sports</a></h6>
				<ul>
					<li><a href="/sports/nfl/" data-ht="footernfl">NFL</a></li>
					<li><a href="/sports/mlb/" data-ht="footermlb">MLB</a></li>
					<li><a href="/sports/nba/" data-ht="footernba">NBA</a></li>
					<li><a href="/sports/nhl/" data-ht="footernhl">NHL</a></li>
					<li><a href="/sports/ncaaf/" data-ht="footerncaaf">NCAAF</a></li>
					<li><a href="/sports/ncaab/" data-ht="footerncaab">NCAAB</a></li>
					<li class="footer-more-item footer-more-trigger"><a href="#" data-ht="footermore">More...</a></li>
					<li class="footer-more-item "><a href="/sports/ncaaw/" data-ht="footerncaaw">NCAAW</a></li>
					<li class="footer-more-item "><a href="/sports/nascar/" data-ht="footernascar">NASCAR</a></li>
					<li class="footer-more-item "><a href="/sports/golf/" data-ht="footergolf">Golf</a></li>
					<li class="footer-more-item "><a href="/sports/fantasy/" data-ht="footerfantasy">Fantasy</a></li>
					<li class="footer-more-item "><a href="/sports/mls/" data-ht="footersoccer">Soccer</a></li>
					<li class="footer-more-item "><a href="/sports/ufc/" data-ht="footerufc">UFC</a></li>
					<li class="footer-more-item "><a href="/sports/tennis/" data-ht="footertennis">Tennis</a></li>
					<li class="footer-more-item "><a href="/sports/olympics/" data-ht="footerolympics">Olympics</a></li>
					<li class="footer-more-item "><a href="/sports/boxing/" data-ht="footerboxing">Boxing</a></li>
					<li class="footer-more-item "><a href="/sports/wnba/" data-ht="footerwnba">WNBA</a></li>
					<li class="footer-more-item "><a href="/sports/motor-sports/" data-ht="footermotor-sports">Motor Sports</a></li>
					<li class="footer-more-item "><a href="http://www.usatodayhss.com/" data-ht="footerhigh-school" target="_blank">High School</a></li>
					<li class="footer-more-item "><a href="http://bnqt.com/" data-ht="footeraction-sports" target="_blank">Action Sports</a></li>
					<li class="footer-more-item "><a href="/sports/horse-racing/" data-ht="footerhorse-racing">Horse Racing</a></li>
					<li class="footer-more-item "><a href="http://mmajunkie.com/" data-ht="footermma" target="_blank">MMA</a></li>
					<li class="footer-more-item "><a href="/sports/cycling/" data-ht="footercycling">Cycling</a></li>
					<li class="footer-more-item "><a href="/sports/college/" data-ht="footercollege">College</a></li>
					<li class="footer-more-item "><a href="http://sportsstore.usatoday.com/" data-ht="footersports-store" target="_blank">Sports Store</a></li>
				</ul>
			</section>
			<section class="life">
				<h6><a href="/life/" data-ht="footerlife">Life</a></h6>
				<ul>
					<li><a href="/life/people/" data-ht="footerpeople">People</a></li>
					<li><a href="/life/movies/" data-ht="footermovies">Movies</a></li>
					<li><a href="/life/music/" data-ht="footermusic">Music</a></li>
					<li><a href="/life/tv/" data-ht="footertv">TV</a></li>
					<li><a href="/life/books/" data-ht="footerbooks">Books</a></li>
					<li><a href="/topic/4c4e99f7-1bc2-4480-928c-bf372c550f70/awards-central/" data-ht="footerawards-now">Awards Now</a></li>
				</ul>
			</section>
			<section class="money">
				<h6><a href="/money/" data-ht="footermoney">Money</a></h6>
				<ul>
					<li><a href="/money/markets/" data-ht="footermarkets">Markets</a></li>
					<li><a href="/money/business/" data-ht="footerbusiness">Business</a></li>
					<li><a href="/money/personal-finance/" data-ht="footerpersonal-finance">Personal Finance</a></li>
					<li><a href="/money/cars/" data-ht="footercars">Cars</a></li>
				</ul>
			</section>
			<section class="tech">
				<h6><a href="/tech/" data-ht="footertech">Tech</a></h6>
				<ul>
					<li><a href="/tech/personal-tech/" data-ht="footerpersonal-tech">Personal Tech</a></li>
					<li><a href="/tech/gaming/" data-ht="footergaming">Gaming</a></li>
				</ul>
			</section>
			<section class="travel">
				<h6><a href="/travel/" data-ht="footertravel">Travel</a></h6>
				<ul>
					<li><a href="/travel/destinations/" data-ht="footerdestinations">Destinations</a></li>
					<li><a href="/travel/flights/" data-ht="footerflights">Flights</a></li>
					<li><a href="/travel/cruises/" data-ht="footercruises">Cruises</a></li>
					<li><a href="/travel/hotels/" data-ht="footerhotels">Hotels</a></li>
				</ul>
			</section>
			<section class="opinion">
				<h6><a href="/opinion/" data-ht="footeropinion">Opinion</a></h6>
				<ul>
					<li><a href="/opinion/cartoons/" data-ht="footercartoons">Cartoons</a></li>
				</ul>
			</section>
			<section class="weather">
				<h6><a href="/weather/" data-ht="footerweather">Weather</a></h6>
			</section>
		</div>
		<section class="usat-meta">
			<h6>USA Today Logo</h6>
			<ul>
				<li><a class="soc-fb" href="https://www.facebook.com/usatoday" target="_blank" data-uotrack="footerfacebook"></a></li>
				<li><a class="soc-tw" href="https://www.twitter.com/usatoday" target="_blank" data-uotrack="footertwitter"></a></li>
				<li><a class="soc-gp" href="https://plus.google.com/+USATODAY/posts" target="_blank"></a></li>
				<li><a class="soc-tm" href="http://usatoday.tumblr.com/" target="_blank"></a></li>
				<li><a class="soc-yt" href="http://youtube.com/usatoday" target="_blank"></a></li>
				<li><a class="soc-pt" href="http://pinterest.com/usatoday" target="_blank"></a></li>
			</ul>
			<p><strong>2013 USA TODAY</strong>, a division of Gannett Satellite Information Network, Inc</p>
		</section>
		<section class="services">
			<h3>USA TODAY Services</h3>
			<ul>
				<li><a href="/about/" data-ht="footeraboutus">About Us</a></li>
				<li><a href="http://www.usatoday.com/marketing/media_kit/pressroom/press_releases_home.html" data-uotrack="footerpressreleases" target="_blank">Press Releases</a></li>
				<li><a href="http://www.gannett.com/section/CAREERS&amp;template=cover" data-uotrack="footerjobs" target="_blank">Jobs</a></li>
				<li><a href="/rss/" data-ht="footerrss">RSS</a></li>
				<li><a href="/mediakit/" data-ht="footeradvertise">Media Kit</a></li>
				<li><a href="http://reg.e.usatoday.com/" data-uotrack="footernewsletters" target="_blank">Newsletters</a></li>
				<li><a href="/shop/" data-ht="footershop">USA TODAY Shop</a></li>
				<li><a href="/mobile-apps/" data-ht="footerapps">Apps</a></li>
				<li><a href="http://m.usatoday.com/" data-uotrack="footermobile" target="_blank">Mobile</a></li>
				<li><a href="http://service.usatoday.com/homesubscribeV2" data-uotrack="footerpaper" target="_blank">Subscribe</a></li>
			</ul>
			<ul>
				<li><a href="http://www.usatoday.com/news/Corrections-and-clarifications.htm" data-uotrack="footercorrectionsandclarifications" target="_blank">Corrections &amp; Clarifications</a></li>
				<li><a href="/editorial-policy/" data-ht="footereditorialpolicy">Editorial Policy</a></li>
				<li><a href="http://www.gannettreprints.com/" data-uotrack="footerreprintsandpermissions" target="_blank">Reprints &amp; Permissions</a></li>
				<li><a href="/legal/privacynotice.html" data-ht="footerprivacy"> Privacy Notice/Your <br />California Privacy Rights</a></li>
				<li><a href="/legal/tos.html" data-ht="footertermsofservice">Terms of Service</a></li>
				<li><a href="http://developer.usatoday.com/" data-ht="footerdevelopersnetwork" target="_blank">Developer's Network</a></li>
				<li><a href="/legal/privacynotice.html#adchoices" data-ht="footeradchoices">Ad Choices</a></li>
				<li><a href="http://pqasb.pqarchiver.com/USAToday/search.html?POE=FOOTER" data-uotrack="footerarchive" target="_blank">Archive</a></li>
				<li><a class="youreport" href="/reporters/" data-ht="footerreporter">Staff Index</a></li>
				<li><a href="/contactus/" data-ht="footercontactus">Contact Us</a></li>
			</ul>
		</section>
		<section class="partners">
			<h3>Our Partners</h3>
			<ul>
				<li><a href="http://www.usaweekend.com/" data-uotrack="footerUSAWeekend" target="_blank">USA Weekend</a></li>
				<li><a href="http://service.usatoday.com/homesubscribeswV2" data-uotrack="footersportsweekly" target="_blank">Sports Weekly</a></li>
				<li><a href="http://www.usatoday.com/educate/homesplash.htm?POE=FOOTER" data-uotrack="footereducation" target="_blank">Education</a></li>
				<li><a href="http://traveltips.usatoday.com/" data-uotrack="footertraveltips" target="_blank">Travel Tips</a></li>
				<li><a href="http://www.careerbuilder.com/?lr=cbga_usa&amp;siteid=gausa0005" data-uotrack="footercareerbuilder" target="_blank">CareerBuilder</a></li>
				<li><a href="http://www.franchisesolutions.com/" data-uotrack="footerfranchise" target="_blank">Franchise</a></li>
				<li><a href="http://www.russelljohns.com/classifieds/usatoday/?POE=Essentials" data-uotrack="footerclassified" target="_blank">Classified Marketplace</a></li>
			</ul>
		</section>
	</nav>
</div>