<div class="front-bump-shadow"></div>
<div class="bhl-wrap">
	<div class="bhl-thumb  bhl-thumbtype-text">
		<a href="/story/news/world/2013/01/27/brazil-nightclub-fire/1867777/" data-ht="bigheadlinephoto">
			<img src="http://www.gannett-cdn.com/media/USATODAY/USATODAY/2013/01/27/afp-516815033-4_3_r150_c147x110.jpg?9ad6e449392501336205903d0accd35f064b95e5" width="147" height="110" />
			<div class="bhl-playbutton"></div>
		</a>
	</div>
	<div class="bhl-content-wrapper">
		<a class="bhl-link" href="/story/news/world/2013/01/27/brazil-nightclub-fire/1867777/" data-ht="bigheadline">
			<h1 class="bhl-text">Police raise death toll to 245 in Brazil club fire</h1>
			<p class="bhl-chatter"><span class="bhl-summary"><span class="bhl-kicker">At least 200 injured after blaze in southern city of Santa Maria; cause unknown.</span><span class="bhl-full-coverage-wrap"><span class="bhl-full-coverage-icon"></span><span class="bhl-full-coverage">
				Read Story
				</span></span></span>
			</p>
		</a>
	</div>
	<div class="clearfix"></div>
</div>
<div class="bhl-wrap-bottom-shadow"></div>