<section id="section_<%= sectionName %>" class="<%= sectionName %> card None card-bumped" data-section-id="<%= sectionName %>" data-subsection-id="<%= subSection %>">
  <div class="card-content">
    <div class="size-full">
      <a href="#" class="open-sidebar sidebar-button" style="display: none;">
        <div class="icon"></div>
        RIGHT NOW
      </a>
      <div class="size-well paper-shade  ">
        <div class="front-bump-shadow"></div>
        <div class="size-bucket cbor-right-bottom ">
          <div class="mod headlines section-card" data-items-per-page="9">
            <div class="collection  clearfix" data-vr-zone="Headline-Grid">
              <div class="head">
                <h5 class="title">Headlines</h5>
                <p class="time">Updated 10:19 a.m. EST</p>
                <div class="ui-toggler blue headline-toggler "><span class="ui-btn icon ui-btn2 grid-big ui-toggle-btn active">Grid</span><span class="ui-btn icon ui-btn2 list-big ui-toggle-btn ">List</span></div>
                <!--
                <div class="headline-toggler ui-toggler big-picture"><a class="ui-btn icon ui-btn2 cover-big ui-toggle-btn" href="/big-page/news/" data-ht="thebigpagebutton">
                  The Big Page
                  </a>
                </div>
                -->
              </div>
              <div class="page clearfix active" data-items-per-page="9" data-itemnum="0">
                <% for(var i=0, len=data["news"].length; i<len; i++){
                   var news = data["news"][i]; 
                   var columnText = (i%2==0) ? "first-column" : "last-column";
                   var noimage = (news["image"] == "") ? "noimage" : "";
                   
                   var parentAbbr = data["catParent"][news["cat_abbr"]]["parent_abbr"];
                   var belongToSection = (parentAbbr == "") ? data["catParent"][news["cat_abbr"]]["name_abbr"] : parentAbbr;
                   
                   var sectionHref = "";
                   if(parentAbbr == ""){
                      sectionHref = "/" + belongToSection;
                   }else {
                      sectionHref = "/" + belongToSection + "/" + news["cat_abbr"];
                   }
                   %>
                <div class="<%= columnText %> headline <%= noimage %> <%= belongToSection %>" data-vr-contentbox="">
                  <div class="authors byline byline-nopub"><span class="author"><em><%= news["source"] %></em></span></div>
                  <a class="parent-label <%= belongToSection %>" href="<%= sectionHref %>">
                  <%= news["cat_name"] %>
                  </a>
                  <% 
                    var appSections = app.appDataModel.get("sections");
                    var sectionStr = "/" + news.section;
                    if($.inArray(news.cat_abbr, appSections) == -1){
                      sectionStr += "/" + news.cat_abbr;
                    }
                    sectionStr += "/" + news.source_alias + "/" + convertToSeoFriendlyUrl(news.title) + "/" + news.id;
                  %>
                  <a class="anchor" href="<%= sectionStr %>" data-ht="HeadlineGrid1">
                    <div class="front tile">
                      <% if(news["image"] != "") {%>
                      <div class="image-wrap"><img data-src="<%= news["image"] %>" width="200" height="220" /></div>
                      <h3 class="title image"><span class="content-info-icon-text"><%= news["title"] %></span></h3>
                      <% } else { %>
                      <h3 class="title noimage">
                      <span class="content-info-icon-text"><%= news["title"] %></span>
                      </h3>
                      <% } %>
                    </div>
                    <div class="back tile">
                      <h3 class="title"><%= news["title"] %></h3>
                      <p class="text"><%= news["description"] %></p>
                      <ul class="meta">
                        <li class="section"><span class="content-info-icon-text">
                          <%= news["cat_name"] %>
                          </span>
                        </li>
                        <!--
                        <li class="time"><span>1 hour, 51 minutes ago</span></li>
                        -->
                      </ul>
                    </div>
                  </a>
                </div>
                <% } %>
              </div>
            </div>
            <div class="show-more"><a href="#" class="button-add-content" data-default="Show More News" data-loading="Loading More News">Show More News</a></div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="size-suspender">
          <div class="mod clst sections navigation " id="CList-sections">
            <h1 class="clst-section-name">
            <% if(subSection != ""){ %><a href="/<%= sectionName %>" class="clst-link"><%}%><%= data["category"]["name"] %><% if(subSection != ""){ %></a><%}%>
            </h1>
            <ul class="scrollable-content clearfix clst-unordered-items">
            <% for(var i=0, len=data["subCats"].length; i<len; i++){ %>
              <% 
                var subCat = data["subCats"][i]; 
                var selectedStr = (subCat.name_abbr == subSection) ? "selected" : "";
              %>
              <li data-href="/<%= subCat.parent_abbr %>/<%= subCat.name_abbr %>" class="clst-item clst-item-link-styles <%= selectedStr %>">
                <a class="clst-link" href="/<%= subCat.parent_abbr %>/<%= subCat.name_abbr %>" data-ht="/"><%= subCat.name %></a>
              </li>
            <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sh_bottom"></div>
</section>