<ul class="utility">
	<li class="util-li first"><a class="subscribe" href="/subscribe" data-uotrack="footerpaper" target="_blank"><span class="big-icon"></span>Subscribe</a></li>
	<li class="util-li"><a class="usatshop" href="/shop/" data-ht="footerusatshop"><span class="big-icon"></span>Special<br />Editions</a></li>
	<li class="util-li"><a class="apps" href="/mobile-apps/" data-ht="footerapps"><span class="big-icon"></span>Apps</a></li>
	<li class="util-li"><a class="rss" href="/rss/" data-ht="footerrss"><span class="big-icon"></span>RSS</a></li>
	<li class="util-li"><a class="youreport" href="/reporters/" data-ht="footerreporter"><span class="big-icon"></span>Staff Index</a></li>
	<li class="util-li"><a class="mobile" href="#" data-uotrack="footermobile" target="_blank"><span class="big-icon"></span>Mobile</a></li>
	<li class="util-li"><a class="contactus" href="/contactus/" data-ht="footercontactus"><span class="big-icon"></span>Contact Us</a></li>
	<li class="last util-li"><a class="feedback" href="#" data-ht="footerfeedback"><span class="big-icon"></span>Feedback</a></li>
</ul>
<div class="footer var-width">
	<div class="footer-edge"></div>
	<p class="copyright">Copyright NewsBuddy 2013</p>
	<p class="site-index">Site Index <span class="arrow">Expand/Collapse</span></p>
	<nav>
		<div class="fronts">
			<section class="news">
				<h6><a href="/news" data-ht="footernews">Thời sự</a></h6>
				<ul>
					<li><a href="/news/politics-social" data-ht="footerpoliticssocial">Chính trị - Xã hội</a></li>
					<li><a href="/news/legal" data-ht="footerlegal">Pháp luật</a></li>
					<li><a href="/news/world" data-ht="footerworld">Thế giới</a></li>
				</ul>
			</section>
			<section class="money">
				<h6><a href="/money" data-ht="footermoney">Thị trường</a></h6>
				<ul>
					<li><a href="/money/business_market" data-ht="footerbusinessmarket">Tài chính - Kinh doanh</a></li>
					<li><a href="/money/stock_market" data-ht="footerstockmarket">Chứng khoán</a></li>
					<li><a href="/money/labour_market" data-ht="footerlabourmarket">Việc làm</a></li>
				</ul>
			</section>
			<section class="sports">
				<h6><a href="/sports" data-ht="footersports">Thể thao</a></h6>
				<ul>
					
				</ul>
			</section>
			<section class="technology">
				<h6><a href="/technology" data-ht="footertechnology">Công nghệ</a></h6>
				<ul>
					<li><a href="/technology/ict" data-ht="footerict">CNTT - Viễn thông</a></li>
					<li><a href="/technology/science" data-ht="footerscience">Khoa học</a></li>
				</ul>
			</section>
			<section class="lifestyle">
				<h6><a href="/lifestyle/" data-ht="footerlifestyle">Phong cách</a></h6>
				<ul>
					<li><a href="/lifestyle/culture" data-ht="footerpersonal-tech">Văn hóa</a></li>
					<li><a href="/lifestyle/entertainment" data-ht="footerentertainment">Giải trí</a></li>
				</ul>
			</section>
			<section class="education">
				<h6><a href="/education" data-ht="footereducation">Giáo dục</a></h6>
				<ul>
					<li><a href="/education/studying_aboard" data-ht="footerstudyingabroad">Du học</a></li>
					<li><a href="/education/enrollment" data-ht="footerenrollment">Tuyển sinh</a></li>
				</ul>
			</section>
			<section class="health">
				<h6><a href="/health" data-ht="footerhealth">Sức khỏe</a></h6>
				<ul>
					<li><a href="/health/be_healthy" data-ht="footerbehealth">Chăm sóc sức khỏe</a></li>
					<li><a href="/health/gender_health" data-ht="footergenderhealth">Giới tính</a></li>
				</ul>
			</section>
			<section class="realestate">
				<h6><a href="/realestate" data-ht="footerrealestate">Nhà đất</a></h6>
        <ul>
					<li><a href="/realestate/realestate_news" data-ht="footerrealestatenews">Bất động sản</a></li>
					<li><a href="/realestate/living_space" data-ht="footerlivingspace">Không gian sống</a></li>
				</ul>
			</section>
		</div>
		<section class="usat-meta">
			<h6>Newsbuddy Logo</h6>
			<ul>
				<li><a class="soc-fb" href="#" target="_blank" data-uotrack="footerfacebook"></a></li>
				<li><a class="soc-tw" href="#" target="_blank" data-uotrack="footertwitter"></a></li>
				<li><a class="soc-gp" href="#" target="_blank"></a></li>
				<li><a class="soc-tm" href="#" target="_blank"></a></li>
				<li><a class="soc-yt" href="#" target="_blank"></a></li>
				<li><a class="soc-pt" href="#" target="_blank"></a></li>
			</ul>
			<p><strong>2013 NEWSBUDDY</strong>, a division of Gannett Satellite Information Network, Inc</p>
		</section>
		<section class="services">
			<h3>NewsBuddy Services</h3>
			<ul>
				<li><a href="/about/" data-ht="footeraboutus">About Us</a></li>
				<li><a href="#" data-uotrack="footerpressreleases" target="_blank">Press Releases</a></li>
				<li><a href="#" data-uotrack="footerjobs" target="_blank">Jobs</a></li>
				<li><a href="/rss/" data-ht="footerrss">RSS</a></li>
				<li><a href="/mediakit/" data-ht="footeradvertise">Media Kit</a></li>
				<li><a href="#" data-uotrack="footernewsletters" target="_blank">Newsletters</a></li>
				<li><a href="/shop/" data-ht="footershop">NewsBuddy Shop</a></li>
				<li><a href="/mobile-apps/" data-ht="footerapps">Apps</a></li>
				<li><a href="#" data-uotrack="footermobile" target="_blank">Mobile</a></li>
				<li><a href="#" data-uotrack="footerpaper" target="_blank">Subscribe</a></li>
			</ul>
			<ul>
				<li><a href="#" data-uotrack="footercorrectionsandclarifications" target="_blank">Corrections &amp; Clarifications</a></li>
				<li><a href="/editorial-policy/" data-ht="footereditorialpolicy">Editorial Policy</a></li>
				<li><a href="#" data-uotrack="footerreprintsandpermissions" target="_blank">Reprints &amp; Permissions</a></li>
				<li><a href="/legal/privacynotice.html" data-ht="footerprivacy"> Privacy Notice/Your <br />California Privacy Rights</a></li>
				<li><a href="/legal/tos.html" data-ht="footertermsofservice">Terms of Service</a></li>
				<li><a href="#" data-ht="footerdevelopersnetwork" target="_blank">Developer's Network</a></li>
				<li><a href="/legal/privacynotice.html#adchoices" data-ht="footeradchoices">Ad Choices</a></li>
				<li><a href="#" data-uotrack="footerarchive" target="_blank">Archive</a></li>
				<li><a class="youreport" href="/reporters/" data-ht="footerreporter">Staff Index</a></li>
				<li><a href="/contactus/" data-ht="footercontactus">Contact Us</a></li>
			</ul>
		</section>
		<section class="partners">
			<h3>Our Partners</h3>
			<ul>
				<li><a href="#" data-uotrack="footerUSAWeekend" target="_blank">USA Weekend</a></li>
				<li><a href="#" data-uotrack="footersportsweekly" target="_blank">Sports Weekly</a></li>
				<li><a href="#" data-uotrack="footereducation" target="_blank">Education</a></li>
				<li><a href="#" data-uotrack="footertraveltips" target="_blank">Travel Tips</a></li>
				<li><a href="#" data-uotrack="footercareerbuilder" target="_blank">CareerBuilder</a></li>
				<li><a href="#" data-uotrack="footerfranchise" target="_blank">Franchise</a></li>
				<li><a href="#" data-uotrack="footerclassified" target="_blank">Classified Marketplace</a></li>
			</ul>
		</section>
	</nav>
</div>