
	<div id="masthead" class="clearfix">
		<div class="logo ">
			<a id="logo-link" data-ht="Headernewsbuddy" href="/">NewsBuddy</a>
		</div>
		<div id="search-form">
			<form class="search" action="/search" method="get">
        <input class="text-input" type="text" data-placeholder="" name="q" value="<%= App.appDataModel.get('currentSearchKeyword') %>"/>
				<input class="submit" type="button" value="Search" />
				<span class="ui-dark ui-btn cancel icon no-text">X</span>
			</form>
		</div>
	</div>
	<nav id="nav">
		<ul id="navbar">
			<li class="news text" data-section="news">
				<a class="nav-anchor" href="/news" data-ht="Headernews">
				<span class="news-span nav-span">Thời sự</span>
				</a>
			</li>
			<li class="money text" data-section="money">
				<a class="nav-anchor" href="/money" data-ht="Headermoney">
				<span class="money-span nav-span">Thị trường</span>
				</a>
			</li>
			<li class="sports text" data-section="sports">
				<a class="nav-anchor" href="/sports" data-ht="Headersports">
				<span class="sports-span nav-span">Thể thao</span>
				</a>
			</li>
			<li class="technology text" data-section="technology">
				<a class="nav-anchor" href="/technology" data-ht="Headertechnology">
				<span class="technology-span nav-span">Công nghệ</span>
				</a>
			</li>
			<li class="lifestyle text" data-section="lifestyle">
				<a class="nav-anchor" href="/lifestyle" data-ht="Headerlifestyle">
				<span class="lifestyle-span nav-span">Phong cách</span>
				</a>
			</li>
			<li class="education text" data-section="education">
				<a class="nav-anchor" href="/education" data-ht="Headereducation">
				<span class="education-span nav-span">Giáo dục</span>
				</a>
			</li>
			<li class="health text" data-section="health">
				<a class="nav-anchor" href="/health" data-ht="Headerhealth">
				<span class="health-span nav-span">Sức khỏe</span>
				</a>
			</li>
			<li class="realestate text" data-section="realestate">
				<a class="nav-anchor" href="/realestate" data-ht="Headerrealestate">
				<span class="realestate-span nav-span">Nhà đất</span>
				</a>
			</li>

			<li class="user icon">
				
			</li>
			<!--<li class="user icon inactive" id="user-nav-item-unauth"><a href="/userauth/default/" data-ht="HeaderUsarAuth"><span>Log in</span></a></li>-->
			<li class="search icon"><a class="icon-anchor"><span class="icon-span"></span></a></li>
		</ul>
	</nav>
	
  <div id="breaking" data-lastupdate="" data-type="" class="breaking">

  </div>
	<div class="header-shadow"></div>
