<div class="content" id="content-loading-overlay">
  <div class="transition-wrap">
    <article class="asset clearfix story ui-loading light-medium"></article>
  </div>
</div>

<div class="content">
  <div class="transition-wrap zoomed-in">
    <article class="asset clearfix story" data-texttype="story">
      <div class="close-wrap"><a class="close close-overlay" data-ht="modalclose"></a></div>
      <%
      var iframeHeight = $(window).height() - 40;
      %>
      <iframe id="news-origin" sandbox="" src="" style="height:<%= iframeHeight %>px;"></iframe>
      <!-- utility bar -->
      <div class="utility-wrap active show">
        <div class="utility-bar"></div>
      </div>
      <div class="clearfix"></div>
    </article>
  </div>
</div>
<div class="arrows overlay-arrows show">
  <div class="previous-wrap "><a class="previous" href="" data-ht="articlearrowprevious"></a></div>
  <div class="next-wrap "><a class="next" href="" data-ht="articlearrownext"></a></div>
</div>
<div class="film show"></div>
<section class="card-wrap">
  <section class="card <%= App.appDataModel.get("currentSection") %> card-loading" id="section_news">
    <div class="left-suspender size-suspender"></div>
    <div class="border"></div>
    <div class="size-bar paper-shade">
      <div class="mod live-feed"></div>
    </div>
  </section>
</section>