<% if(overlayType == "news"){ %>
<div class="content" id="content-loading-overlay">
  <div class="transition-wrap">
    <article class="asset clearfix story ui-loading light-medium"></article>
  </div>
</div>
<%}%>

<div class="content">
  <div class="transition-wrap zoomed-in">
    <%
    var storyType = (overlayType == "news") ? "story" : "error";
    %>
    <article class="asset clearfix <%= storyType %>" data-texttype="<%= storyType %>">
      <div class="close-wrap"><a class="close close-overlay" data-ht="modalclose"></a></div>
      <%
      if(overlayType == "news"){
        var iframeHeight = $(window).height() - 40;
      %>
      <iframe id="news-origin" sandbox="allow-scripts" src="" style="height:<%= iframeHeight %>px;"></iframe>
      <!-- utility bar -->
      <div class="utility-wrap active show">
        <div class="utility-bar">
          <div class="util-bar-module has-button util-bar-hidenews-module first hidden">
            <div class="util-bar-hidenews-btn"><i class="icon-trash icon-2x"></i></div>
          </div>
          <div class="util-bar-module no-button util-bar-markinterestedin-module hidden">
            <div class="util-bar-interestedin-label label-only"><i class="icon-check icon-2x"></i></div>
          </div>
        </div>
      </div>
      <%} else if(overlayType == "error") {
        var lang = App.appDataModel.get("lang");
        var errorHead     = (lang == "vi") ? "SẶC, LỖI RỒI!" : "OH, SNAP!";
        var errorInfo     = (lang == "vi") ? "Không tìm thấy trang bạn yêu cầu." : "The Page you requested cannot be displayed.";
        var errorMessage  = (lang == "vi") ? "Trang bạn đang tìm có thể không tồn tại, hoặc đã được chuyển sang <br /> địa chỉ khác. Hãy quay lại Trang chủ nhé ^^" : "This page may have moved or no longer exists. You can search <br> for the page you were looking for or go back to USA Today home";
      %>
      <div class="error404 error">
        <h1 class="head"><%= errorHead %></h1>
        <h2 class="info"><%= errorInfo %></h2>
        <h3 class="message"><%= errorMessage %></h3>
      </div>
      <%} else {}%>
      <div class="clearfix"></div>
    </article>
  </div>
</div>
<% if(overlayType == "news"){ %>
<div class="arrows overlay-arrows show">
  <%  
    var currentSection = app.appDataModel.get("currentSection");
    var prevHref = false, nextHref = false;
    if(currentSection != "null"){
      var wrap = app.wraps.getWrap(currentSection);
      
      var wrapData = wrap.get("data");
      var wrapVisibleNewsArr = wrap.get("visibleNewsArr");
      var prevIdx = -1, thisIdx = -1, nextIdx = -1;
      for(var i=0, len=wrapData.news.length; i<len; i++){
        if(wrapVisibleNewsArr[i]){
          if(newsID == wrapData.news[i].id){
            thisIdx = i;
          }
          if(thisIdx == -1){
            prevIdx = i;
          }
          if(thisIdx != -1 && nextIdx == -1 && i != thisIdx){
            nextIdx = i;
            break;
          }
        }
      }
      
      var appSections = app.appDataModel.get("sections");
      
      if(prevIdx != -1){
        var prevNews = wrapData.news[prevIdx];
        prevHref = "/" + prevNews.section;
        if($.inArray(prevNews.cat_abbr, appSections) == -1){
          prevHref += "/" + prevNews.cat_abbr;
        }
        prevHref += "/" + prevNews.source_alias + "/" + convertToSeoFriendlyUrl(prevNews.title) + "/" + prevNews.id;
      }
      if(nextIdx != -1){
        var nextNews = wrapData.news[nextIdx];
        nextHref = "/" + nextNews.section;
        if($.inArray(nextNews.cat_abbr, appSections) == -1){
          nextHref += "/" + nextNews.cat_abbr;
        }
        nextHref += "/" + nextNews.source_alias + "/" + convertToSeoFriendlyUrl(nextNews.title) + "/" + nextNews.id;
      }
    }
  %>
  <div class="previous-wrap <% if(!prevHref){ %> disabled <% } %>">
    <% if(prevHref) { %>
    <a class="previous" href="<%= prevHref %>" title="<%= prevNews.title %>" data-ht="articlearrowprevious"></a>
    <% } %>
  </div>
  <div class="next-wrap <% if(!nextHref){ %> disabled <% } %>">
    <% if(nextHref) { %>
    <a class="next" href="<%= nextHref %>" title="<%= nextNews.title %>" data-ht="articlearrownext"></a>
    <% } %>
  </div>
</div>
<%}%>
<div class="film show"></div>
<section class="card-wrap">
  <% 
  var sectionText = "home";
  if(overlayType == "news"){ 
    sectionText = app.appDataModel.get("currentSection");
  }
  %>
  <section class="card <%= sectionText %> card-loading" id="section_news">
    <div class="left-suspender size-suspender"></div>
    <div class="border"></div>
    <div class="size-bar paper-shade">
      <div class="mod live-feed"></div>
    </div>
  </section>
</section>