<section class="card-wrap" style="margin: 0px; position: absolute; bottom: 0px; left: -1280px; display: block;" data-order="-1">
	<section class="card weather card-loading" data-section-id="weather" id="section_weather">
		<div class="left-suspender size-suspender">
			<div class="mod clst sections navigation" id="CList-sections">
				<h1 class="clst-section-name">weather</h1>
			</div>
		</div>
		<div class="border">
			<div class="punchout-cover"></div>
		</div>
	</section>
</section>
<section class="card-wrap" style="margin: 0px; position: absolute; bottom: 0px; left: 85px; display: block;" data-order="0">
	<section class="card home card-loading" data-section-id="home" id="section_home">
		<div class="left-suspender size-suspender">
			<div class="mod clst sections navigation" id="CList-sections">
				<h1 class="clst-section-name">weather</h1>
			</div>
		</div>
		<div class="border">
			<div class="punchout-cover"></div>
		</div>
	</section>
</section>
<section class="card-wrap" style="margin: 0px; position: absolute; bottom: 0px; left: 1450px;" data-order="1">
	<section class="card news card-loading" data-section-id="news" id="section_news">
		<div class="left-suspender size-suspender">
			<div class="mod clst sections navigation" id="CList-sections">
				<h1 class="clst-section-name">news</h1>
			</div>
		</div>
		<div class="border">
			<div class="punchout-cover"></div>
		</div>
	</section>
</section>