<div class="sp-nav-wrap clearfix">
  <ul class="sp-nav">
    <li class="sp-nav-title"><a class="sp-nav-title-link" href="/sports/" data-ht="sportssubsectionnav">Sports</a></li>
    <li class="sp-nav-item nfl" data-href="/sports/nfl/" data-ss="nfl"><a class="sp-nav-link " href="/sports/nfl/" data-ht="sportssubsectionnav">NFL</a></li>
    <li class="sp-nav-item mlb" data-href="/sports/mlb/" data-ss="mlb"><a class="sp-nav-link " href="/sports/mlb/" data-ht="sportssubsectionnav">MLB</a></li>
    <li class="sp-nav-item nba" data-href="/sports/nba/" data-ss="nba"><a class="sp-nav-link " href="/sports/nba/" data-ht="sportssubsectionnav">NBA</a></li>
    <li class="sp-nav-item nhl" data-href="/sports/nhl/" data-ss="nhl"><a class="sp-nav-link " href="/sports/nhl/" data-ht="sportssubsectionnav">NHL</a></li>
    <li class="sp-nav-item ncaaf" data-href="/sports/ncaaf/" data-ss="ncaaf"><a class="sp-nav-link " href="/sports/ncaaf/" data-ht="sportssubsectionnav">NCAAF</a></li>
    <li class="sp-nav-item ncaab" data-href="/sports/ncaab/" data-ss="ncaab"><a class="sp-nav-link " href="/sports/ncaab/" data-ht="sportssubsectionnav">NCAAB</a></li>
    <li class="sp-nav-item nascar" data-href="/sports/nascar/" data-ss="nascar"><a class="sp-nav-link " href="/sports/nascar/" data-ht="sportssubsectionnav">NASCAR</a></li>
    <li class="sp-nav-item ufc" data-href="/sports/ufc/" data-ss="ufc"><a class="sp-nav-link " href="/sports/ufc/" data-ht="sportssubsectionnav">UFC</a></li>
    <li class="sp-nav-item high-school" data-href="http://www.usatodayhss.com/" data-ss="high-school"><a class="sp-nav-link " href="http://www.usatodayhss.com/" target="_blank" data-ht="sportssubsectionnav">High School</a></li>
  </ul>
</div>