<div class="fixed-wrap">
	<div id="masthead" class="clearfix">
		<div class="logo ">
			<a id="logo-link" data-ht="Headernewsbuddy" href="/">NewsBuddy</a>
		</div>
		<div id="search-form">
			<form class="search" action="/search" method="get">
				<input class="text-input" type="text" data-placeholder="" name="q" />
				<input class="submit" type="submit" value="Search" />
				<span class="ui-dark ui-btn cancel icon no-text">X</span>
			</form>
		</div>
	</div>
	<nav id="nav">
		<ul id="navbar">
			<li class="news text active" data-section="news">
				<a class="nav-anchor" href="/news" data-ht="Headernews">
				<span class="news-span nav-span">Thời sự</span>
				</a>
			</li>
			<li class="money text" data-section="money">
				<a class="nav-anchor" href="/#money" data-ht="Headermoney">
				<span class="money-span nav-span">Thị trường</span>
				</a>
			</li>
			<li class="sports text" data-section="sports">
				<a class="nav-anchor" href="sports" data-ht="Headersports">
				<span class="sports-span nav-span">Thể thao</span>
				</a>
			</li>
			<li class="technology text" data-section="technology">
				<a class="nav-anchor" href="/technology" data-ht="Headertechnology">
				<span class="technology-span nav-span">Công nghệ</span>
				</a>
			</li>
			<li class="lifestyle text" data-section="lifestyle">
				<a class="nav-anchor" href="/lifestyle" data-ht="Headerlifestyle">
				<span class="lifestyle-span nav-span">Phong cách</span>
				</a>
			</li>
			<li class="education text" data-section="education">
				<a class="nav-anchor" href="/education" data-ht="Headereducation">
				<span class="education-span nav-span">Giáo dục</span>
				</a>
			</li>
			<li class="health text" data-section="health">
				<a class="nav-anchor" href="/health" data-ht="Headerhealth">
				<span class="health-span nav-span">Sức khỏe</span>
				</a>
			</li>
			<li class="realestate text" data-section="realestate">
				<a class="nav-anchor" href="/realestate" data-ht="Headerrealestate">
				<span class="realestate-span nav-span">BĐS</span>
				</a>
			</li>

			<li class="user icon">
				<a class="auth icon-anchor" href="#"><span class="userbtn-wrap icon-span"><span class="user-avatar"><img class="fb-avatar" alt="" src="" height="22" width="22" /></span><span class="user-icon"></span></span></a>
				<div class="dropdown fb-dropdown">
					<div class="fb-login-wrap">
						<p class="fb-drop-text">Log in with Facebook to comment and share content.</p>
						<a class="ui-btn ui-btn2 ui-dark fb-drop-btn icon fb-icon fb-login-btn" data-ht="HeaderUserAuthLogin">Log in with Facebook</a>
					</div>
					<div class="fb-logout-wrap">
						<p class="fb-drop-text">You are logged in as <span class="fb-display-name"></span></p>
						<a class="ui-btn ui-btn2 ui-dark fb-drop-btn icon fb-icon fb-logout-btn" data-ht="HeaderUserAuthLogout">Log out of Facebook</a>
					</div>
				</div>
			</li>
			<!--<li class="user icon inactive" id="user-nav-item-unauth"><a href="/userauth/default/" data-ht="HeaderUsarAuth"><span>Log in</span></a></li>-->
			<li class="search icon"><a class="icon-anchor" href=""><span class="icon-span">Search</span></a></li>
		</ul>
	</nav>
	
	<div id="breaking" data-lastupdate="" data-type="">
		<div id="breaking-wrap">
			<p><strong></strong><span class="close-btn">Close</span></p>
		</div>
	</div>
	<div class="header-shadow"></div>
</div>